@import 'src/_variables.scss';

.inputField {
  width: 600px;
  height: 38px;

  .inputText {
    width: 200px;
  }

  .inputField {
    border-right: unset
  }

  .removeButton {
    padding: 0 $standard-padding;
    text-align: center;
    cursor: pointer;
    background-color: $light-background;
    border-bottom-right-radius: var(--bs-border-radius-sm);
    border-top-right-radius: var(--bs-border-radius-sm);
    border: var(--bs-border-width) solid var(--bs-border-color);

    &:hover {
      background: var(--bs-tertiary-bg);
    }

    .icon {
      color: $border-color;
      width: 20px;
      height: 20px;
    }
  }
}