@import 'src/_variables.scss';


@media screen and (max-width: $mobile-width) {
  .headerContainer {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    border-bottom: 1px solid $border-color;

    &.expanded {
      height: 400px;
    }

    &.notExpanded {
      height: 140px;
    }
  }

  .newBookButton {
    width: 30%;
  }

  .searchButton {
    width: 30%;
  }

  .columnsButtonButton {
    margin-left: $small-padding;
    margin-right: $small-padding;
    width: 30%;
  }

  .searchSection {
    margin-top: $small-padding;
    margin-bottom: $large-padding;
    &.showAll {
      height: 265px;
      overflow-y: auto;
    }

    &.showFirst {
      height: calc(38px + $large-padding + $small-padding);
      overflow-y: hidden;
    }
  }

  .dropdownButton {
    &.invisible {
      margin-top: calc(-138px - $standard-padding * 2);
    }
    &.visible {
      margin-top: $small-padding;
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .headerContainer {
    width: 1200px;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: $standard-corner-radius;
    border-bottom-right-radius: $standard-corner-radius;
    outline: 1px solid $border-color;

    &.expanded {
      height: 400px;
      gap: $standard-padding;
    }

    &.notExpanded {
      height: 90px;
      gap: calc($standard-padding * 2);
    }
  }
  .newBookButton {
    position: absolute;
    left: $standard-padding;
    top: $standard-padding;
  }

  .searchButton {
    position: absolute;
    right: $standard-padding;
    top: $standard-padding;
  }

  .columnsButtonButton {
    position: absolute;
    right: calc($large-padding + 54px);
    top: $standard-padding;
  }

  .searchSection {
    &.showAll {
      overflow-y: auto;
    }

    &.showFirst {
      overflow-y: hidden;
    }
  }

  .dropdownButton {
    &.invisible {
      margin-top: calc(-38px - $standard-padding * 2);
    }

    &.visible {
      margin-top: 0;
    }
  }
}

.headerContainer {
  display: flex;

  z-index: 2;

  position: absolute;
  background-color: $light-background;
  padding: $standard-padding;

  transition: all 0.2s linear;

  .searchSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 $standard-padding;
    width: 100%;
    gap: $standard-padding;
    transition: height 0.2s linear;
  }

  .dropdownButton {
    transition: all 0.2s;

    .dropdownMenu {
      max-height: 300px;
      overflow-y: auto;
    }
  }

  .newBookButton {
    white-space: nowrap;
  }

  .expandContainer {
    all: unset;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $light-background;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid $vague-border-color;
    border-bottom-left-radius: $standard-corner-radius;
    border-bottom-right-radius: $standard-corner-radius;
    padding: $small-padding 0;
    height: 20px;
    cursor: pointer;

    .icon {
      transition: transform 0.2s;

      &.up {
        transform: rotate(180deg);
      }
    }
  }
}