@import 'src/_variables.scss';


@media screen and (max-width: $mobile-width) {
  .headerContainer {
    width: 100%;
    align-items: flex-start;
    border-bottom: 1px solid $border-color;
    padding: $standard-padding;

    &.expanded {
      height: 400px;
    }

    &.notExpanded {
      height: 140px;
    }
  }

  .expandContainer {
    margin-top: calc(0px - calc($small-padding * 5)) !important;
    padding: 0 0 !important;
    height: 18px !important;
  }

  .newBookButton {
    width: 30%;
    left: $standard-padding;
    top: $standard-padding;
  }

  .searchButton {
    width: 30%;
    right: $standard-padding;
    top: $standard-padding;
  }

  .columnsButtonButton {
    right: calc($standard-padding + ($small-padding / 2) + 30%);
    top: $standard-padding;
    width: 30%;
  }

  .searchSection {
    margin-top: $small-padding;
    gap: $small-padding;
    &.showAll {
      height: 265px;
      overflow-y: auto;
    }

    &.showFirst {
      height: 38px;
      margin-top: calc(76px + $standard-padding * 1.25);
      overflow-y: hidden;
    }
  }

  .dropdownButton {
    align-self: center;
    &.invisible {
      margin-top: calc(-76px - $standard-padding * 2);
    }
    &.visible {
      margin-top: calc($standard-padding * 2.5);
    }
  }
}

@media screen and (min-width: $mobile-width) {
  .headerContainer {
    width: 85%;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: $standard-corner-radius;
    border-bottom-right-radius: $standard-corner-radius;
    outline: 1px solid $border-color;

    &.expanded {
      height: 400px;
    }

    &.notExpanded {
      height: 97px;
    }
  }

  .expandContainer {
    margin-top: calc(0px - calc($standard-padding * 2)) !important;
    padding: $small-padding 0 !important;
    height: 20px !important;
  }

  .newBookButton {
    left: $standard-padding;
    top: $standard-padding;
  }

  .searchButton {
    right: $standard-padding;
    top: $standard-padding;
  }

  .columnsButtonButton {
    right: calc($large-padding + 54px);
    top: $standard-padding;
  }

  .searchSection {
    height: 100%;
    gap: $standard-padding;
    &.showAll {
      overflow-y: auto;
    }

    &.showFirst {
      overflow-y: hidden;
    }
  }

  .dropdownButton {
    &.invisible {
      margin-top: calc(0px - $standard-padding * 2.5);
    }

    &.visible {
      margin-top: $standard-padding;
    }
  }
}

.headerContainer {
  display: flex;

  z-index: 2;

  flex-direction: column;
  justify-content: space-between;
  gap: $standard-padding;
  position: relative;
  background-color: $light-background;

  transition: all 0.2s linear;

  .newBookButton {
    position: absolute;
  }

  .searchButton {
    position: absolute;
  }

  .columnsButtonButton {
    position: absolute;
  }

  .searchSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 $standard-padding;
    width: 100%;
    transition: height 0.2s linear;
  }

  .dropdownButton {
    transition: all 0.2s;

    .dropdownMenu {
      max-height: 300px;
      overflow-y: auto;
    }
  }

  .newBookButton {
    white-space: nowrap;
  }

  .expandContainer {
    all: unset;
    width: 100%;
    background-color: $light-background;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid $vague-border-color;
    border-bottom-left-radius: $standard-corner-radius;
    border-bottom-right-radius: $standard-corner-radius;
    cursor: pointer;

    .icon {
      transition: transform 0.2s;

      &.up {
        transform: rotate(180deg);
      }
    }
  }
}