@import 'src/_variables.scss';

@media screen and (max-width: $mobile-width) {
  .tableContainer {
    margin-top: calc(130px + $standard-padding * 2);
    border-top: 1px solid $border-color;
    height: calc(100vh - 140px - $standard-padding);
    width: 100%;
  }

  .table {
    width: 1000px;
  }

}

@media screen and (min-width: $mobile-width) {
  .tableContainer {
    margin-top: calc(100px + $standard-padding * 2);
    border-radius: $standard-corner-radius;
    outline: 1px solid $border-color;
    height: 800px;
  }

  .table {
    width: 1000px;
  }

}



.tableContainer {
  padding: $standard-padding;
  background-color: $light-background;

  .tableSection {
    overflow-y: auto;
    overflow-x: auto;
    height: 100%;
    width: 100%;

    .tableHeader {
      padding-top: $standard-padding;
      position: sticky;
      top: 0;
    }

    .tableBody {
      height: 100%;
    }

    .buttonColumn {
      text-align: center;

      .editButton {
        all: unset;
        cursor: pointer;

        .icon {
          color: $border-color;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}