@import 'src/_variables.scss';

.table {
  width: 1000px;
}



.tableContainer {
  padding: $standard-padding;
  border-radius: $standard-corner-radius;
  background-color: $light-background;
  outline: 1px solid $border-color;
  height: 800px;
  margin-top: calc(100px + $standard-padding * 2);

  .tableSection {
    overflow-y: auto;
    height: 100%;

    .tableHeader {
      padding-top: $standard-padding;
      position: sticky;
      top: 0;
    }

    .tableBody {
      height: 100%;
    }

    .buttonColumn {
      text-align: center;

      .editButton {
        all: unset;
        cursor: pointer;

        .icon {
          color: $border-color;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}